/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: auto;
  width: 51px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.checkbox-slider {
    margin: auto;
    
    border: 3px solid #ffffff;
    padding: 10px;
    
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkbox-slider {
  background-color: #1f9797;
}

input:focus + .checkbox-slider {
  box-shadow: 0 0 1px #1f9797;
}

input:checked + .checkbox-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.checkbox-slider.round {
  border-radius: 34px;
}

.checkbox-slider.round:before {
  border-radius: 50%;
}

.terms-of-use {
	margin-bottom: 10%;
}

.value-alert {
	margin-top: 50%;
}

.popover-content{
	font-size: 11px;
}

.dock-button{
	width: 50px;
}