<!-- http://nglviewer.org/ngl/api/manual/interaction-controls.html  -->
<div class="col-md-12">

	<!-- 
	<p>
		<i>Note: Use your mouse to drag, rotate, and zoom in and out of the structure.</i>
		<button class="btn btn-primary btn-xs" type="button"
			data-toggle="collapse" data-target="#collapseExample"
			aria-expanded="false" aria-controls="collapseExample"
			style="padding: 1px 5px; background-color: #1f9797; border-color: #e5e5e5">Show controls</button>
	</p>
	<div class="collapse" id="collapseExample">
		<div class="well">
			<ul class="list-unstyled">
				<li>
					<p>
						<code>r</code>
						<i>auto view</i>
					</p>
				</li>
				<li>
					<p>
						<code>shift + left_mouse + drag</code>
						<i>zoom</i>
					</p>
				</li>
				<li>
					<p>
						<code>ctrl + right_mouse + drag</code>
						<i>rotate</i>
					</p>
				</li>
			</ul>
		</div>
	</div>
	 -->
	<p><i>Use your mouse to drag, rotate, and zoom in and out of the structure:</i></p>
	<ul class="list-inline">
		<li class="list-inline-item">
			<code class="ngl-code-color">r</code> <i>auto view</i> &nbsp
		</li>		
		<li class="list-inline-item">
			<code class="ngl-code-color">shift + left_mouse + drag</code> <i>zoom</i> &nbsp
		</li>
		<li class="list-inline-item">
			<code class="ngl-code-color">ctrl + right_mouse + drag</code> <i>rotate</i> &nbsp
		</li>
	</ul>
</div>
